@font-face {
    font-family: 'Inter';
    src: url(./fonts/InterVariable.woff2),
    format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Inter';
    src: url(./fonts/InterVariable-Italic.woff2),
    format('woff2-variations');
    font-weight: 100 900;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'Urbanist';
    src: url(./fonts/Urbanist-VariableFont_wght.woff2),
    format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Urbanist';
    src: url(./fonts/Urbanist-Italic-VariableFont_wght.woff2),
    format('woff2-variations');
    font-weight: 100 900;
    font-style: italic;
    font-display: block;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', serif;
    font-weight: 550;
}

input {
    appearance: none;
    border: none;
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
}

.hidden {
    display: none !important;
}

body {
    background-color: rgb(110, 180, 255);
}

header {
    display: flex;
    justify-content: space-evenly;;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 2rem 1rem 2rem;
    background-color: rgb(19, 81, 148)
}

.tutorial-button {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 3rem;
    background-color: rgb(187, 187, 187);
    padding: 1rem 2rem;
    border-radius: 2rem;
}

.tutorial-button:hover {
    background-color: rgb(241, 241, 241);
}

.instruction {
    padding: 1rem 2rem;
    border: 0.5rem solid white;
    border-radius: 2rem;
    color: white;
}

.initial {
    margin: 0 auto;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 1fr;
    width: 25rem;
    gap: 1rem;
}

.player.one {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.one.icon {
    fill: rgb(0, 106, 255);
}

.player.two {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.two.icon {
    fill: rgb(255, 0, 0);
}

.name {
    border-radius: 2rem;
    padding: 1rem 2rem;
    border: 0.5rem solid rgb(63, 63, 63);
    font-size: 1rem;
}

.one.name {
    border-color: rgb(0, 106, 255);
}

.two.name {
    border-color: rgb(255, 0, 0);
}

.submit-name {
    grid-column: 1 / 3;
    grid-row: 2;
    border-radius: 2rem;
    margin-top: 1rem;
    padding: 1rem 2rem;
    font-size: 2rem;
    border: 0.5rem solid rgb(63, 63, 63);
    background-color: rgb(187, 187, 187);
}

.submit-name:hover {
    background-color: rgb(241, 241, 241);
}

.tutorial {
    background-color: rgb(19, 81, 148);
    color: white;
    margin: 1rem;
    border-radius: 1rem;
    padding: 1rem 2rem;
}

.tutorial.title {
    text-align: center;
    font-size: 3.5rem;
}

.tutorial.text {
    font-size: 1.5rem;
    margin-bottom: -1rem;
}

.close-tutorial {
    padding: 1rem 2.5rem;
    border-radius: 2rem;
    border: 0.5rem solid black;
    font-size: 2rem;
    display: block;
    margin: 2rem auto;
    background-color: rgb(187, 187, 187);
}

.close-tutorial:hover {
    background-color: rgb(241, 241, 241);
}


.game {
    display: grid;
    height: fit-content;
    margin: 0 auto;
    padding: 1rem 2rem;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 3fr;
    gap: 2rem;
}

.numpad {
    grid-column: 1;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: repeat(3, 8rem);
    grid-template-rows: repeat(4, 8rem);
    justify-self: center;
    direction: rtl; 
}

.numpadBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5rem solid rgb(187, 187, 187);
}

.numpadBtn:hover {
    filter: brightness(1.5);
}

.numpadBtn-icon {
    width: 7.5rem;
    height: 7.5rem;
    pointer-events: none;
}

.questionBox {
    grid-column: 2;
    padding: 0 1rem;
    background-color: rgb(241, 241, 241);
    border-radius: 2rem;
    border: 1rem solid rgb(187, 187, 187);
    font-size: 4.5rem;
}

.currentPlayerInfo {
    grid-column: 2;
    grid-row: 2;
    background-color: rgb(19, 81, 148);
    border-radius: 2rem;
    border: 1rem solid black;
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 4fr;
}

.currentPlayerNameText {
    grid-column: 1/3;
    color: white;
    font-size: 3rem;
}

.info.icon {
    grid-column: 1;
    grid-row: 2;
}

.scoreGrid {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
}

.correct {
    fill: rgb(61, 255, 100);
}

.wrong {
    fill: rgb(255, 0, 0);
}

.transitionCard {
    margin: 1rem 2rem;
    padding: 1rem 2rem;
    background-color: rgb(19, 81, 148);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.transitionTitle {
    color: white;
    font-size: 2.5rem;
    text-align: center;
}

.transitionButton {
    padding: 1rem 2.5rem;
    border-radius: 2rem;
    border: 0.5rem solid black;
    font-size: 2rem;
    display: block;
    background-color: rgb(187, 187, 187);
}

.transitionButton:hover {
    background-color: rgb(241, 241, 241);
}

.resultsCard {
    background-color: rgb(19, 81, 148);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    padding: 1rem 2rem;
    margin: 1rem 2rem;
    border-radius: 2rem;
}

.playerResults {
    padding: 1rem 1rem;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
    background-color: rgb(187, 187, 187);
    border-radius: 2rem;
    border: 1rem solid black;
    height: fit-content;
}

.result.icon {
    grid-column: 1;
    grid-row: 1/4;
}

.playerName {
    grid-column: 2;
    grid-row: 1;
    font-size: 4rem;
}

.playerScore {
    grid-column: 2;
    grid-row: 2;
    font-size: 2.5rem;
}

.playerTime {
    grid-column: 2;
    grid-row: 3;
    font-size: 2.5rem;
}

.winner {
    border-color: yellow;
}

.winner .icon {
    stroke: yellow;
}

.winner .playerName {
    color: yellow;
}